/* javadoc スタイルシート */

/* 色やフォントなどのスタイル属性のデフォルト値を上書きするには、ここで定義します。 */

/* ページのバックグラウンドの色 */
body { background-color: #FFFFFF }

/* 見出し */
h1 { font-size: 145% }

/* テーブルの色 */
.TableHeadingColor     { background: #CCCCFF } /* 濃い藤色 */
.TableSubHeadingColor  { background: #EEEEFF } /* 薄い藤色 */
.TableRowColor         { background: #FFFFFF } /* 白 */

/* 左側のフレームのリストに使用するフォント */
.FrameTitleFont   { font-size: 100%; font-family: Helvetica, Arial, sans-serif }
.FrameHeadingFont { font-size:  90%; font-family: Helvetica, Arial, sans-serif }
.FrameItemFont    { font-size:  90%; font-family: Helvetica, Arial, sans-serif }

/* ナビゲーションバーのフォントと色 */
.NavBarCell1    { background-color:#EEEEFF;} /* 薄い藤色 */
.NavBarCell1Rev { background-color:#00008B;} /* 濃い青 */
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;}

.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}

